<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tasklogger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tasklogger.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tasklogger</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tasklogger</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TaskLogger" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:v87l9el49i.database.windows.net,1433;Initial Catalog=tasklogger_db;User ID=milenppavlov@v87l9el49i;Password=asapeta2905!" Name="Data Source=tcp:v87l9el49i.database.windows.net,1433;Initial Catalog=tasklogger_db;User Id=milenppavlov@v87l9el49i;Password=asapeta2905!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TaskLogger.Data.Context.TaskLoggerContext, TaskLogger.Data" MigrationConfiguration="TaskLogger.Data.Migrations.Configuration, TaskLogger.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TaskLogger-Web.config Connection String">
      <ParameterValue>Data Source=tcp:v87l9el49i.database.windows.net,1433;Initial Catalog=tasklogger_db;User Id=milenppavlov@v87l9el49i;Password=asapeta2905!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>